<div class="container-installment-price">
  <div class="installment-price"  [formGroup]="myForm">
    <h1 class="text-center">Mua ô tô trả góp: điều kiện, thủ tục, lưu ý, lãi suất &amp; ví dụ cụ thể</h1>
    <p class="font14 text-center">Dưới đây là tiện ích <b>tra cứu lãi suất mua ô tô trả góp, cách tính lãi suất vay mua xe trả
        góp và ước tính khoản vay</b> tại các ngân hàng ở Việt Nam, kèm theo các thông tin tham khảo về điều kiện, hồ sơ vay
      mua xe ô tô trả góp dành cho tất cả mọi người.</p>
    <h2 class="interest-heading">Công cụ ước tính khoản vay mua ô tô trả góp, cách tính trả góp ô tô</h2>
    <div  class="frm-half-page">
      <div class="frm-half">
				<div class="gr-lb-text">
					<label>Số tiền vay (₫)</label>
					<input formControlName="sotienvay" type="text" value="500000000" class="price_format" id="price" placeholder="Nhập tổng số tiền vay">
				</div>
				<div class="gr-lb-text">
					<label>Thời hạn vay (năm)</label>
					<input formControlName="thoihanvay" type="number" min="1" max="8" value="5" id="timeout" placeholder="Nhập thời hạn vay">
				</div>
			</div>
      <div class="frm-half">
				<div class="gr-lb-text">
					<label>Lãi suất năm đầu</label>
					<input formControlName="laisuat1" type="text" id="interestrate-first" value="9" placeholder="Nhập lãi suất năm đầu">
				</div>
				<div class="gr-lb-text">
					<label>Lãi suất năm thứ 2 trở đi</label>
					<input formControlName="laisuat2" type="text" id="interestrate-second" value="12" placeholder="Nhập lãi suất từ năm thứ 2">
				</div>
			</div>

    </div>
    <div class="btn-price">
      <button type="submit" (click)="installment()">Ước tính khoản vay</button>
    </div>
    <div class="total-installment">
      <p>Tổng lãi phải trả<span>{{totallai}} ₫</span></p>
      <p>Tổng số tiền phải trả<span>{{totalgoc}} ₫</span></p>
    </div>
    <div class="max-height">
      <table>
        <tbody>
          <tr class="head">
            <th>Kỳ thanh toán</th>
            <th>Dư nợ</th>
            <th>Tiền gốc</th>
            <th>Tiền lãi</th>
            <th>Tổng tiền</th>
          </tr>
        </tbody>
        <tbody id="show-installment">
          <tr *ngFor="let data of this.arrayPrice">
            <td>{{data.thang}}</td>
            <td>{{data.duno}}</td>
            <td>{{data.tiengoc}}</td>
            <td>{{data.tienlai}}</td>
            <td>{{data.goclai}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <i class="text-center">(Lưu ý: Dữ liệu trên mang tính chất tham khảo, không đảm bảo chính xác hoàn toàn và không phải là cam kết về khoản vay)</i>

    <div  class="frm-half-page">
      <div class="frm-half">
				<div class="gr-lb-text">
					<label>HỌ TÊN</label>
					<input  type="text" value="500000000" class="price_format" id="price" placeholder="Nhập tổng số tiền vay">
				</div>
				<div class="gr-lb-text">
					<label>SỐ ĐIỆN THOẠI</label>
					<input  type="text" min="1" max="8" value="5" id="timeout" placeholder="Nhập thời hạn vay">
				</div>
			</div>
      <div class="frm-half">
				<div class="gr-lb-text">
					<label>KHU VỰC</label>
					<select name="" id=""></select>
				</div>
				<div class="gr-lb-text">
					<label>NGÂN HÀNG</label>
				<select name="" id=""></select>
				</div>
			</div>
    </div>
    <div class="btn-price">
      <button type="submit" >Yêu Cầu Tư Vấn</button>
    </div>
    <h2 class="interest-heading">Tham khảo bảng lãi suất vay mua ô tô trả góp tháng 5/2024 tại các ngân hàng</h2>
  </div>
  <div class="list-bank-container">
    <!-- <div class="list-bank"> -->
      <div class="list-bank">
      <div class="bank-img">
        <div class="img-clone">
          <img src="https://cdn.oto360.net/images/bank/agribank.webp" >
        </div>
        <div class="title">
          <div class="infor">Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Agribank)</div>
          <div class="infor color-red">
            Hotline: 1900558818
          </div>
        </div>
      </div>
      <div class="price-info">
       <div class="name">Lãi tham khảo của Agribank</div>
       <div class=" color-red">7.5%/năm</div>
      </div>
      <div class="price-info">
        <div class="name">Số tiền vay tối đa</div>
        <div class=" color-red">70% giá trị xe</div>
       </div>
       <div class="price-info">
        <div class="name">Thời gian vay lên đến</div>
        <div class=" color-red">5 năm</div>
       </div>
      </div>

      <div class="list-bank">
        <div class="bank-img">
          <div class="img-clone">
            <img src="https://cdn.oto360.net/images/bank/agribank.webp" >
          </div>
          <div class="title">
            <div class="infor">Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Agribank)</div>
            <div class="infor color-red">
              Hotline: 1900558818
            </div>
          </div>
        </div>
        <div class="price-info">
         <div class="name">Lãi tham khảo của Agribank</div>
         <div class=" color-red">7.5%/năm</div>
        </div>
        <div class="price-info">
          <div class="name">Số tiền vay tối đa</div>
          <div class=" color-red">70% giá trị xe</div>
         </div>
         <div class="price-info">
          <div class="name">Thời gian vay lên đến</div>
          <div class=" color-red">5 năm</div>
         </div>
        </div>

        <div class="list-bank">
          <div class="bank-img">
            <div class="img-clone">
              <img src="https://cdn.oto360.net/images/bank/agribank.webp" >
            </div>
            <div class="title">
              <div class="infor">Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Agribank)</div>
              <div class="infor color-red">
                Hotline: 1900558818
              </div>
            </div>
          </div>
          <div class="price-info">
           <div class="name">Lãi tham khảo của Agribank</div>
           <div class=" color-red">7.5%/năm</div>
          </div>
          <div class="price-info">
            <div class="name">Số tiền vay tối đa</div>
            <div class=" color-red">70% giá trị xe</div>
           </div>
           <div class="price-info">
            <div class="name">Thời gian vay lên đến</div>
            <div class=" color-red">5 năm</div>
           </div>
          </div>
          <div class="list-bank">
            <div class="bank-img">
              <div class="img-clone">
                <img src="https://cdn.oto360.net/images/bank/agribank.webp" >
              </div>
              <div class="title">
                <div class="infor">Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Agribank)</div>
                <div class="infor color-red">
                  Hotline: 1900558818
                </div>
              </div>
            </div>
            <div class="price-info">
             <div class="name">Lãi tham khảo của Agribank</div>
             <div class=" color-red">7.5%/năm</div>
            </div>
            <div class="price-info">
              <div class="name">Số tiền vay tối đa</div>
              <div class=" color-red">70% giá trị xe</div>
             </div>
             <div class="price-info">
              <div class="name">Thời gian vay lên đến</div>
              <div class=" color-red">5 năm</div>
             </div>
            </div>
     
    <!-- </div> -->
    <i class="color-red">(Lưu ý: lãi suất cho vay được Oto360 tham khảo và cập nhật tại những thời điểm khác nhau nên không đảm bảo chính xác tại thời điểm hiện tại, Quý khách vui lòng liên hệ trực tiếp Hotline của ngân hàng cần vay để biết chính xác, xin cảm ơn.)</i>
  </div>
  <div class="content-vay">
    <p>Sự phát triển của xã hội khiến nhu cầu của con người ngày một tăng cao, trong đó nhu cầu sở hữu một chiếc <a href="https://oto360.net/xe">ô tô</a>&nbsp;đang là một nhu cầu phổ biến hiện nay. Tuy nhiên, do điều kiện tài chính khiến một số cá nhân, doanh nghiệp vẫn chưa có khả năng chi trả toàn bộ cho việc mua xe ô tô, vì vậy, việc lựa chọn <strong>mua xe ô tô trả góp</strong> qua các ngân hàng là một trong những cách <strong>tốt nhất</strong> và <strong>nhanh chóng</strong> để có thể sở hữu một chiếc xe ô tô dùng cho gia đình hoặc cho công&nbsp;việc kinh doanh.</p>
    <h2 class="interest-heading">Một số lưu ý khi vay ngân hàng để&nbsp;mua xe ô tô trả góp</h2>
    <p>Để tiến hành mua xe ô tô&nbsp;trả góp, khách hàng cần phải lưu ý như sau:&nbsp;</p>
    <ul >
      <li role="presentation">Khách hàng là công dân Việt Nam từ 18 - 60 tuổi.&nbsp;</li>
      <li role="presentation">Địa chỉ thường trú hoặc KT3 ở địa phương làm hồ sơ vay vốn.</li>
      <li role="presentation">Khách hàng phải có tài sản thế chấp trong quá trình vay mua xe ô tô.</li>
      <li role="presentation">Chứng minh thu nhập ổn định, đủ khả năng trả góp hàng tháng.</li>
      <li role="presentation">Mục đích vay mua ô tô của khách hàng cá nhân/ doanh nghiệp phải chính đáng. và không có nợ xấu trong quá trình hoạt động.</li>
    </ul>

    <h3>Phí và phí phạt khi vay mua xe trả góp tại ngân hàng:&nbsp;</h3>
    <h4>Phí trả nợ trước hạn:&nbsp;</h4>

    <p>Phí phạt trả nợ trước hạn được xem là khoản tiền mà khách hàng vay vốn tại ngân hàng phải chi trả bởi không thực hiện đúng cam kết như đã nêu trong hợp đồng vay. Thông thường các ngân hàng hiện nay áp dụng phí phạt dao động khoảng 1% - 5% trên tổng số tiền trả nợ trước hạn. Tuy nhiên tùy vào công thức và cách tính của mỗi ngân hàng khác nhau mà số tiền khách hàng phải nộp là hoàn toàn khác nhau.&nbsp;</p>
    <h4>Phí liên quan đến dịch vụ tài sản bảo đảm:&nbsp;</h4>
    <p>Thông thường đối với những khoản vay mà tài sản bảo đảm như vay xe ô tô, ngân hàng yêu cầu khách hàng vay bắt buộc phải mua bảo hiểm cho tài sản và bên thụ hưởng là ngân hàng cho vay.</p>
    <p>Dựa trên thỏa thuận, ngân hàng đã chuẩn bị tiền để tiến hành giải ngân cho khách hàng nhưng khách hàng lại không nhận giải ngân hoặc vi phạm thời gian đã cam kết thì phải chịu một khoản phí. Mức phí cam kết rút vốn tại các ngân hàng hiện nay dao động trong khoảng 0,1% - 0,4% tùy vào mỗi ngân hàng.</p>
    <h4>Phí trả nợ quá hạn:</h4>
    <p>Tùy thuộc vào mỗi ngân hàng khác nhau sẽ có cách tính phí trả nợ quá hạn khác nhau. Thông thường nếu lãi trên nợ gốc theo lãi suất đã thỏa thuận, khách hàng chậm trả sẽ tính lãi bằng khoảng 10% khoản tiền chậm trả trong tháng. Nếu chậm trả thanh toán nợ gốc sẽ bị phạt 150% lãi suất theo hợp đồng đã ký kết từ trước (chi tiết phụ thuộc vào từng thời điểm).&nbsp;</p>
    <h4 >Bảo hiểm tử kỳ cho người vay:&nbsp;</h4>
    <p>Một số trường hợp khách hàng khi tiến hành vay vốn tại ngân hàng để mua xe ô tô đột ngột qua đời và chưa trả hết số dư nợ tại ngân hàng. Trong trường hợp này bảo hiểm tử kỳ sẽ chi trả số tiền còn lại cho ngân hàng (đối tượng thụ hưởng). Do đó, việc bắt buộc khách hàng mua gói bảo hiểm tử kỳ là cần thiết phát sinh sự cố.&nbsp;</p>
    <p>Tóm lại, trong suốt quá trình tham gia mua xe ô tô trả góp qua ngân hàng, bên cạnh chi trả cho việc mua xe, khách hàng cần phải đọc kỹ các điều khoản, các khoản phí đi kèm để có thể đưa ra quyết định tốt trong hành trình mua xe ô tô của mình.&nbsp;</p>
  </div>
</div>