$color-header : #4392BB;
$color-tile: #485764;

.detail-user {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding-bottom: 10px;
  .button {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.icon-close {
  width: 15px;
  height: 15px;
}

.backgournd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c8ced3;
  margin: 0 5px;
}

.header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $color-header;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.014em;
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-column: 1;
  grid-row-start: auto;
  margin: 0 5px;
}

.detail-user {
  input.mail {
    width: 400px !important;
  }
}

input.input-error {
  border: 1px solid red;
}
