<div class="detail-user">
  <div class="backgournd-header">
    <div class="header">
      <span>{{headerContent}}</span>
    </div>
    <mat-icon
      svgIcon="iconClose"
      class="icon-close"
      (click)="handelClose()"
    ></mat-icon>
  </div>
  <div class="body">
    <div class="input-wrapper">
      <label class="input-label"> Fist Name </label>
      <div class="input-normal">
        <input type="text" [value]="data?.customer_first_name" />
      </div>
    </div>
    <div class="input-wrapper">
      <label class="input-label"> Last Name </label>
      <div class="input-normal">
        <input type="text" [value]="data?.customer_last_name" />
      </div>
    </div>
    <div class="input-wrapper">
      <label class="input-label"> Customer Name </label>
      <div class="input-normal">
        <input type="text" [value]="data?.customer_name" />
      </div>
    </div>
    <div class="input-wrapper">
      <label class="input-label"> Mail </label>
      <div class="input-normal">
        <input class="mail" type="text" [value]="data?.mail" />
      </div>
    </div>
    <div class="input-wrapper">
      <label class="input-label"> Phone </label>
      <div class="input-normal">
        <input type="text" [value]="data?.phone_number" />
      </div>
    </div>

  </div>
</div>
