<div class="change-pwd-page">
  <div class="form-change-pwd">
    <form [formGroup]="changePasswordForm">
      <div class="image-change-pwd">
        <mat-icon svgIcon="iconLogin"></mat-icon>
      </div>
      <div class="title">
        <mat-icon class="icon-back" svgIcon="iconBack" (click)="closePopup()"></mat-icon>
        <span class="txt-change-pwd">Change Password</span>
      </div>
      <div class="group-ip-password">
        <mat-form-field class="group-password">
          <mat-icon svgIcon="iconPasswordIp" matPrefix></mat-icon>
          <input
            matInput
            placeholder="New Password"
            class="ip-new-password"
            formControlName="newPassword"
            [type]="showNewPassword ? 'text' : 'password'"
            autocomplete="new-password"
          />
          <mat-icon matSuffix
            class="icon-hidden-password"
            [svgIcon]="
            showNewPassword ? 'iconHiddenPasswordIp' : 'iconShowPasswordIp'
            "
            (click)="toggleNewPassWord()"
          ></mat-icon>
          <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
            New Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="group-password">
          <mat-icon svgIcon="iconPasswordIp" matPrefix></mat-icon>
          <input
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            class="ip-confirm-password"
            [type]="showConfirmPassword ? 'text' : 'password'"
            autocomplete="new-password"
          />
          <mat-icon matSuffix
            class="icon-hidden-password"
            [svgIcon]="
            showConfirmPassword ? 'iconHiddenPasswordIp' : 'iconShowPasswordIp'
            "
            (click)="toggleConfirmPassWord()"
          ></mat-icon>
          <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
            Confirm Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="btn-change-password"
        (click)="submitForm()"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
