<div class="container">
  <div *ngIf="(displayColumns.length > 0)"
       class="table-container">
    <table mat-table
           #matTable
           [dataSource]="dataSource"
           matSort
           (matSortChange)="hanldeSort.emit($event)">
      <ng-container *ngFor="let column of columnDefinition"
                    [matColumnDef]="column.id"
                    [sticky]="column.sticky !== undefined && column.sticky ? true : false"
                    [stickyEnd]="column.stickyEnd !== undefined && column.stickyEnd ? true : false">
        <ng-container [ngSwitch]="column.type">
          <!-- ::::::::::::::::::::::::::::::::::TEXT:::::::::::::::::::::::::::::::::::::::: -->
          <div *ngSwitchCase="'text'">
            <th mat-header-cell
                mat-sort-header
                disabled="{{ !column.orderable }}"
                *matHeaderCellDef
                [ngStyle]="{ 'min-width': (column.weight || 0) * 10 + 'px', 'max-width':(column.weight || 0) * 10 + 'px' }">
              {{ column.name }}
            </th>
            <td *matCellDef="let element"
                mat-cell
                class="overflow"
                [ngStyle]="{ 'min-width': (column.weight || 0) * 10 + 'px', 'max-width':(column.weight || 0) * 10 + 'px' }"
                [class.cell-align-right]="column.alignRight"
                [class.cell-align-center]="column.alignCenter">
              <span *ngIf="!column.format">
                {{ Utils.getValueByKey(element, column.id) }}
              </span>
              <span *ngIf="column && column.format && isNumber(column.format)">
                {{ Utils.getValueByKey(element, column.id)| currencyFormatPipe: pipeNumber(column.format) }}
              </span>
              <span *ngIf="column && column.format && isDateTime(column.format)">
                {{ Utils.getValueByKey(element, column.id)| datetimeformat2: pipeDateTime(column.format) }}
              </span>
            </td>
          </div>
          <!-- ::::::::::::::::::::::::::::::::::SELECT CHECKBOX:::::::::::::::::::::::::::::::::::::::: -->
          <div *ngSwitchCase="'select'">
            <th mat-header-cell
                *matHeaderCellDef
                class="checkbox">
              <mat-checkbox *ngIf="column.showSelectAll"
                            (change)="$event ? onCheckBoxAllChange($event) : null"
                            [checked]="selectionModel.hasValue() && isCheckedAll()"
                            [indeterminate]="selectionModel.hasValue() && !isCheckedAll()">
              </mat-checkbox>
            </th>
            <td mat-cell
                *matCellDef="let row"
                class="checkbox">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? onCheckBoxItemChange(row) : null"
                            [checked]="selectionModel.hasValue() && isCheckedAll() ? true : isCheckedItem(row)">
              </mat-checkbox>
            </td>
          </div>
        </ng-container>
      </ng-container>
      <tr mat-header-row
          *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row
          (click)="tableClick.emit(row)"
          *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
  <div class="show-more"
       *ngIf="tableConfig.showMore">
    <button mat-stroked-button
            color="default">
      <mat-icon svgIcon="plus"></mat-icon>
      {{ 'common.button.show-more' | translate }}
    </button>
  </div>
</div>
