$color-text: #9f9f9f;
$letter-spacing: 0.014em;
.login-page {
  margin: 150px auto;
  padding-top: 40px;
  width: 560px;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(53, 116, 177, 0.2);
  border-radius: 8px;
  text-align: center;
}
.title {
  margin-top: 16px;
  font-weight: 700;
}
.form-login {
  width: 448px;
  margin: 0 auto;
}
.image-login .mat-icon {
  height: 48px;
  width: 48px;
}
.group-ip-user {
  margin-top: 40px;
}
.forgot-password {
  margin: 23px 0 19px 0px;
}
.forgot-password .forgot-pwd {
  text-align: right;
  color: $color-text;
  font-size: 10px;
  letter-spacing: $letter-spacing;
  margin: 0;
}
.group-password {
  margin-top: 27px;
}
.login-page input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}
::ng-deep .login-page .mat-raised-button {
  line-height: 1.5;
}
::ng-deep .group-ip-user .mat-form-field {
  width: 100%;
}
::ng-deep .group-ip-user
  .mat-form-field-appearance-outline
  .mat-form-field-infix {
  display: flex;
  align-items: center;
  padding: 0;
  border-top: 0;
}
::ng-deep .group-ip-user
  .mat-form-field-appearance-outline
  .mat-form-field-subscript-wrapper {
  top: 40px;
  padding: 0;
}
::ng-deep .group-ip-user .mat-form-field-suffix .mat-icon {
  line-height: 0;
}
::ng-deep .group-ip-user
  .mat-form-field-appearance-outline
  .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}
::ng-deep .group-ip-user
  .mat-form-field-appearance-outline
  .mat-form-field-flex {
  padding: 12px 16px;
}
::ng-deep .group-ip-user .mat-icon {
  height: 18px;
  width: 15px;
}
.btn-login {
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 55px;
}
.ip-username,
.ip-password {
  padding-left: 16px;
}
