<div class="login-page">
  <div class="form-login">
    <form [formGroup]="loginForm">
      <div class="image-login">
        <mat-icon svgIcon="iconLogin"></mat-icon>
      </div>
      <div class="title">Sign In</div>
      <div class="group-ip-user">
        <mat-form-field class="group-username">
          <mat-icon svgIcon="iconUserIp" matPrefix></mat-icon>
          <input
            matInput
            placeholder="Username"
            class="ip-username"
            formControlName="username"
            autocomplete="new-password"
          />
          <mat-icon svgIcon="" matSuffix></mat-icon>
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="group-password">
          <mat-icon svgIcon="iconPasswordIp" matPrefix></mat-icon>
          <input
            matInput
            placeholder="Password"
            class="ip-password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="new-password"
          />
          <mat-icon matSuffix
            class="icon-hidden-password"
            [svgIcon]="
              showPassword ? 'iconHiddenPasswordIp' : 'iconShowPasswordIp'
            "
            (click)="togglePassWord()"
          ></mat-icon>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="forgot-password">
        <p class="forgot-pwd" routerLink="/forgot-password">Forgot password?</p>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="btn-login"
        (click)="submitForm()"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
