<div class="forgot-pwd-page">
  <div class="form-forgot-pwd">
    <form [formGroup]="forgotPasswordForm">
      <div class="image-forgot-pwd">
        <mat-icon svgIcon="iconLogin"></mat-icon>
      </div>
      <div class="title">
        <mat-icon class="icon-back" svgIcon="iconBack"></mat-icon>
        <span class="txt-forgot-pwd">Forgot Password</span>
      </div>
      <div class="group-ip-password">
        <div class="password">
          <mat-icon class="icon-password" svgIcon="iconPasswordIp"></mat-icon>
          <input [type]="showNewPassword ? 'text' : 'password'" class="ip-password" placeholder="New password" autocomplete="new-password" formControlName="newPassword">
          <mat-icon class="icon-hidden-password" [svgIcon]="showNewPassword ? 'iconHiddenPasswordIp' : 'iconShowPasswordIp'" (click)="toggleNewPassWord()"></mat-icon>
        </div>
        <div class="password">
          <mat-icon class="icon-password" svgIcon="iconPasswordIp"></mat-icon>
          <input [type]="showConfirmPassword ? 'text' : 'password'" class="ip-password" placeholder="Confirm new password" autocomplete="new-password" formControlName="confirmPassword">
          <mat-icon class="icon-hidden-password" [svgIcon]="showConfirmPassword ? 'iconHiddenPasswordIp' : 'iconShowPasswordIp'" (click)="toggleConfirmPassWord()"></mat-icon>
        </div>
      </div>
      <button type="button" class="btn-forgot-pwd" (click)="submitForm()">Change password</button>
    </form>
  </div>
</div>
