.container-background {
  display: flex;
  margin-right: 10px;
}

.content {
  height: 100%;
}
.detail{
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid #009cc3;
  background-color: #FFFFFF;
  overflow: auto;
}
.content-right {
  transition: width .3s ease-in-out;
  position: relative;
  width: 30%;
}

.content-left {
  width: 70%;
  margin-right: 2px;
}

.content-full {
  width: 100%;
}

.content-none {
  width: 0;
  display: none;
}

.edit-user {
  height: 100%;
}
