<div class="detail-container">
  <div class="header-detail">
    <span>Header Title</span>
    <button mat-button
            (click)="handleClose.emit('close')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content-detail"
       [formGroup]="formGroup">
    <div class="row">
      <div class="col first">
        <mat-label class="label">Name</mat-label>
        <mat-form-field appearance="outline"
                        class="input-search">
          <input matInput
                 formControlName="name"
                 autocomplete="off">
        </mat-form-field>
      </div>
      <div class="col last">
        <mat-label class="label">Mail</mat-label>
        <mat-form-field appearance="outline"
                        class="input-search">
          <input matInput
                 formControlName="mail"
                 autocomplete="off">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <mat-label class="label">Date</mat-label>
      <mat-form-field appearance="outline"
                      class="date">
        <input matInput
               autocomplete="off"
               formControlName="joinDate"
               [matDatepicker]="dp">
        <mat-datepicker-toggle matSuffix
                               [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
