<h3>Sample 1</h3>
<button mat-raised-button
        color="primary"
        (click)="goToSample()">Go to Sample 2</button>
<app-group-button [searchConfig]="searchConfig"
                  [btnConfig]="btnConfig"
                  (handleBtnSubmitClicked)="handleGroupSearchClk($event)"
                  (handleBtnDetailClicked)="handleAddNew()"></app-group-button>
<div class="user-container">
  <app-datatable [tableConfig]="tableConfig"
                 [dataSource]="data"
                 (tableClick)="handleClick($event)"
                 (hanldeSort)="handleSort($event)"
                 [ngStyle]="{width: isShowDetail ? '50%' : '100%'}"></app-datatable>
  <app-add-edit-user (handleClose)="closeDetail()"
                     [dataHandle]="dataItem"
                     class="hidden-add"
                     [ngClass]="{'show-detail': isShowDetail}"></app-add-edit-user>
</div>
