<div class="forgot-pwd-mail-page">
  <div class="form-forgot-pwd">
    <form [formGroup]="forgotPasswordByEmailForm">
      <div class="image-forgot-pwd">
        <mat-icon svgIcon="iconLogin"></mat-icon>
      </div>
      <div class="title">
        <mat-icon class="icon-back" svgIcon="iconBack"></mat-icon>
        <span class="txt-forgot-pwd">Forgot Password</span>
      </div>
      <div class="group-ip-password">
        <div class="username">
          <mat-icon class="icon-username" svgIcon="iconUserIp"></mat-icon>
          <input type="text" class="ip-username" placeholder="Username" formControlName="username">
        </div>
        <div class="email">
          <mat-icon class="icon-email" svgIcon="iconEmailIp"></mat-icon>
          <input class="{{ invalidEmail ? 'border-red' : '' }}" type="email" class="ip-email" placeholder="Email" formControlName="email" (focusout)="checkEmail($event)">
        </div>
      </div>
      <div class="note">
        *Check the verification in your email and confirm to change password
      </div>
      <button type="button" class="btn-forgot-pwd-email" (click)="submitFormByEmail()">Submit</button>
    </form>
  </div>
</div>
