<div class="container-vehicle-price" [formGroup]="myForm">
  <div class="vehicle-price">
    <div class="list-content">
      <h1 class="text-center">Công cụ tính giá xe lăn bánh và phí đăng ký xe ô tô trên toàn quốc của các hãng xe tại
        Việt Nam</h1>
      <p class="font14 text-center">Dưới đây là công cụ <b>tính giá ô tô lăn bánh</b> và thông tin các biểu phí đăng ký
        xe ô tô trên toàn quốc dành cho tất cả mọi người.</p>
    </div>
    <div class="group-select-car">
      <div class="title-and-select">
        <div class="title">Thương Hiệu</div>
        <div class="select-type">
          <select formControlName="trademark" (change)="getCar()">
            <option selected value>Chọn thương hiệu</option>
            <option *ngFor="let data of dataThuongHieu" [value]="data.id">
              {{data.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="title-and-select">
        <div class="title">Dòng Xe</div>
        <div class="select-type">
          <select formControlName="vehicles" (change)="getOption()">
            <option selected value>Chọn dòng xe</option>
            <option *ngFor="let data of dataDongXe" [value]="data.id">
              {{data.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="title-and-select">
        <div class="title">Phiên bản</div>
        <div class="select-type">
          <select formControlName="option" (change)="getCalculator()">
            <option selected value>Chọn phiên bản</option>
            <option *ngFor="let data of dataPhienBan" [value]="data.id">
              {{data.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="title-and-select">
        <div class="title">Nơi Đăng Ký</div>
        <div class="select-type">
          <select formControlName="province" (change)="getCalculator()">
            <option selected value>Chọn Nơi Đăng Ký</option>
            <option *ngFor="let data of dataProvince" [value]="data.id">
              {{data.name}}
            </option>
          </select>
        </div>
      </div>

    </div>
    <div class="group-infor-price">
      <div class="infor-price">
        <h2 class="car-name">{{this.carName}}</h2>
        <img [src]="this.imgDongXe" alt="">
      </div>
      <div class="infor-price">
        <ul class="frm-result">
          <li>Giá xe <span>{{values[0]}}</span></li> 
          <li>Phí trước bạ <span>{{values[1]}}</span></li>
          <li>Phí đăng ký biển số <span>{{values[2]}}</span></li>
          <li>Phí đường bộ (1 năm) <span>{{values[3]}}</span></li>
          <li>Bảo hiểm TNDS (1 năm) <span>{{values[4]}}</span></li>
          <li>Phí đăng kiểm <span>{{values[5]}}</span></li>
        </ul>

        <div class="frm-total">TỔNG CỘNG <span>{{total}}</span></div>

        <div class="font12 text-center">
          <i>Bảng tính giá xe ô tô lăn bánh ở trên chỉ mang tính chất tham khảo, <b>chưa bao gồm phí dịch vụ đăng
              ký</b>, Quý khách vui lòng liên hệ Showroom/Đại Lý gần nhất để có Báo Giá chính xác nhất.</i>
        </div>

        <div class="group-btn-input">
          <div class="button-and-input">
            <div class="ip-btn">
              <input class="ip-phone" required="" type="tel" pattern="[0-9]{10}" maxlength="10" autocomplete="off"
                name="phone" placeholder="Nhập số điện thoại">
            </div>
            <div class="gr-btn">
              <button class="btn">Yêu cầu báo giá</button>
            </div>
          </div>

          <div class="button-and-input">
            <div class="gr-btn">
              <button class="btn">Tìm Đại Lý</button>
            </div>
            <div class="gr-btn">
              <button class="btn">Mua Bán trả Gióp</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-infor-more">
      <h2 class="title-infor-more">Hiểu rõ hơn về cách tính giá xe ô tô lăn bánh</h2>
      <p>Khi quyết định mua một chiếc ô tô, người tiêu dùng thường quan tâm về giá của sản phẩm, bởi chi phí để sở hữu
        một
        chiếc ô tô là rất lớn. Nhưng trước khi mua một chiếc xe hầu như người tiêu dùng sẽ không biết mình sẽ mua chiếc
        xe
        ô tô đó với giá bao nhiêu? Bao gồm những loại chi phí nào? Cách tính giá xe lăn bánh ra sao?</p>

      <p>Để giúp bạn đọc giải quyết vấn đề liên quan đến tài chính trước khi mua một chiếc ô tô, sau đây Oto360 cung cấp
        đến bạn đọc tiện ích
        <span class="font-bold">“Bảng tính giá xe ô tô lăn bánh”</span> - công cụ tính giá lăn bánh và thông tin các
        biểu
        phí đăng ký xe ô tô trên toàn quốc.
      </p>

      <h3>
        Giá xe lăn bánh bao gồm những loại chi phí nào?
      </h3>
      <p>Khi mua một chiếc ô tô, bên cạnh phải trả tiền theo giá trị của xe, thì người tiêu dùng sẽ phải chịu các loại
        phí
        khác bao gồm:</p>
      <p><span class="font-bold">Giá xe: </span>Giá trị thực của xe được hãng công bố đến người tiêu dùng</p>
      <p><span class="font-bold">Phí trước bạ: </span>Khoản lệ phí người tiêu dùng phải nộp cho cơ quan thuế khi muốn
        đăng
        ký quyền sở hữu ô tô trong trường hợp mua ô tô mới hay ô tô đã qua sử dụng</p>
      <p><span class="font-bold">Phí đăng ký biển số: </span>Khoản phí đăng ký biển số để xe được sử dụng hợp pháp</p>
      <p><span class="font-bold">Phí đường bộ </span>(phí sử dụng đường bộ, phí bảo trì đường bộ): Khoản phí nộp nhằm
        mục
        đích bảo trì và nâng cấp đường bộ phục vụ cho các phương tiện</p>
      <p><span class="font-bold">Bảo hiểm TNDS: </span>Phí bảo hiểm bắt buộc trách nhiệm dân sự với người sở hữu xe,
        khoản
        tiền phải thanh toán cho doanh nghiệp bảo hiểm khi mua bảo hiểm bắt buộc trách nhiệm dân sự của chủ xe.</p>
      <p><span class="font-bold">Phí đăng kiểm: </span>Khoản phí để cơ quan chức năng kiểm tra, đánh giá chi tiết xe có
        đủ
        đảm bảo tiêu chuẩn an toàn khi tham gia giao thông.</p>
      <p>Tổng của các loại chi phí này cộng lại chính là giá xe lăn bánh mà người tiêu dùng phải trả khi mua một chiếc ô
        tô.</p>

      <h3>
        Cách tính giá xe lăn bánh tại Oto360
      </h3>
      <p>Tại website Oto360.net hiện nay cũng cung cấp tiện ích<span class="font-bold font-static"> tính giá ô tô lăn
          bánh
          và thông tin các biểu phí đăng ký xe ô tô trên toàn quốc dành cho tất cả mọi người.</span> Hãy cùng thực hiện
        các bước đơn giản sau đây:</p>
      <p>Bước 1: Truy cập <span class="font-bold font-static">website Oto360.net</span></p>
      <p>Bước 2: Chọn mục <span class="font-bold font-static">“Tiện ích”</span> -> Chọn tiếp mục <span
          class="font-bold font-static">“Bảng tính giá xe ô tô lăn bánh”</span></p>
      <p>Bước 3: Hệ thống sẽ hiện lên các thông tin, bạn đọc chỉ cần <span class="font-bold font-static">hoàn thiện đầy
          đủ
          thông tin về sản phẩm và nơi đăng ký lăn bánh </span>như sau:</p>
      <ul>
        <li>Thương hiệu ô tô</li>
        <li>Dòng xe</li>
        <li>Phiên bản</li>
        <li>Nơi đăng ký</li>
      </ul>
      <p>Bước 4: Sau khi hoàn tất các thông tin, hệ thống trên Oto360 sẽ trả kết quả về giá xe lăn bánh bao gồm chi tiết
        các loại phí chi.</p>
      <p>Ngoài ra, chỉ cần nhập thông tin số điện thoại bạn đọc cũng có thể sử dụng thêm các tiện ích như: yêu cầu báo
        giá, mua trả góp và tìm đại lý.</p>
      <p>Hy vọng với tiện ích <span class="font-bold font-static">“Bảng tính giá xe ô tô lăn bánh”</span>Oto360 cung
        cấp,
        bạn đọc sẽ ước tính được chi phí cần bỏ ra để mua một chiếc xe ô tô mình yêu thích.</p>
    </div>
  </div>
  <div class="group-fee-use-vehicle">
    <div class="title-fee-use-vehicle">
      <h2>Các loại phí khi sử dụng ô tô cần biết</h2>
      <p class="font-italic">Dưới đây là các loại chi phí thường niên khi sử dụng xe ô tô theo quy định tại Việt Nam</p>
    </div>
    <div class="content-fee-use-vehicle">
      <div>
        <h3 class="title-table">Phí bảo trì đường bộ xe ô tô mới nhất</h3>
        <table>
          <tbody>
            <tr>
              <td class="w-60">Xe chở người dưới 10 chỗ đăng ký tên cá nhân</td>
              <td class="td-price">1,560,000</td>
            </tr>
            <tr>
              <td>Xe chở người dưới 10 chỗ (trừ xe đăng ký tên cá nhân); xe tải, xe ô tô chuyên dùng có khối lượng toàn bộ dưới
                4.000 kg; các loại xe buýt; xe chở hàng và xe chở người 4 bánh có gắn động cơ</td>
              <td class="td-price">2,160,000</td>
            </tr>
            <tr>
              <td>Xe chở người từ 10 chỗ đến dưới 25 chỗ; xe tải, xe ô tô chuyên dùng có khối lượng toàn bộ từ 4.000 kg đến dưới
                8.500 kg</td>
              <td class="td-price">3,240,000</td>
            </tr>
            <tr>
              <td>Xe chở người từ 25 chỗ đến dưới 40 chỗ; xe tải, xe ô tô chuyên dùng có khối lượng toàn bộ từ 8.500 kg đến dưới
                13.000 kg</td>
              <td class="td-price">4,680,000</td>
            </tr>
            <tr>
              <td>Xe chở người từ 40 chỗ trở lên; xe tải, xe ô tô chuyên dùng có khối lượng toàn bộ từ 13.000 kg đến dưới 19.000
                kg; xe đầu kéo có khối lượng bản thân cộng với khối lượng cho phép kéo theo đến dưới 19.000 kg</td>
              <td class="td-price">7,080,000</td>
            </tr>
            <tr>
              <td>Xe tải, xe ô tô chuyên dùng có khối lượng toàn bộ từ 19.000 kg đến dưới 27.000 kg; xe đầu kéo có khối lượng bản
                thân cộng với khối lượng cho phép kéo theo từ 19.000 kg đến dưới 27.000 kg</td>
              <td class="td-price">8,640,000</td>
            </tr>
            <tr>
              <td>Xe tải, xe ô tô chuyên dùng có khối lượng toàn bộ từ 27.000 kg trở lên; xe đầu kéo có khối lượng bản thân cộng
                với khối lượng cho phép kéo theo từ 27.000 kg đến dưới 40.000 kg</td>
              <td class="td-price">12,480,000</td>
            </tr>
            <tr>
              <td>Xe ô tô đầu kéo có khối lượng bản thân cộng với khối lượng cho phép kéo theo từ 40.000 kg trở lên</td>
              <td class="td-price">17,160,000</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h3 class="title-table mt-15">Biểu phí bảo hiểm TNDS xe ô tô mới nhất 5/2024</h3>
        <table>
          <tbody>
            <tr>
              <td class="w-60">Xe ô tô dưới 6 chỗ không kinh doanh vận tải</td>
              <td class="td-price w-40">480,700</td>
            </tr>
            <tr>
              <td>Xe ô tô từ 6 đến 11 chỗ không kinh doanh vận tải</td>
              <td class="td-price">873,400</td>
            </tr>
            <tr>
              <td>Xe ô tô từ 12 đến 24 chỗ không kinh doanh vận tải</td>
              <td class="td-price">1,397,000</td>
            </tr>
            <tr>
              <td>Xe ô tô trên 24 chỗ không kinh doanh vận tải</td>
              <td class="td-price">2,007,500</td>
            </tr>
            <tr>
              <td>Xe vừa chở người vừa chở hàng (Pickup, minivan)</td>
              <td class="td-price">480,700</td>
            </tr>
            <tr>
              <td>Xe tải dưới 3 tấn</td>
              <td class="td-price">938,300</td>
            </tr>
            <tr>
              <td>Xe tải từ 3 tấn đến 8 tấn</td>
              <td class="td-price">1,826,000</td>
            </tr>
            <tr>
              <td>Xe tải trên 8 tấn đến 15 tấn</td>
              <td class="td-price">3,020,600</td>
            </tr>
            <tr>
              <td>Xe tải trên 15 tấn</td>
              <td class="td-price">3,520,000</td>
            </tr>
            <tr>
              <td>Xe đầu kéo</td>
              <td class="td-price">5,280,000</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h3 class="title-table mt-15">Phí đăng kiểm xe ô tô mới nhất 5/2024</h3>
        <table>
          <tbody>
            <tr>
              <td class="w-60">Xe ô tô dưới 6 chỗ không kinh doanh vận tải</td>
              <td class="td-price ">480,700</td>
            </tr>
            <tr>
              <td>Xe ô tô từ 6 đến 11 chỗ không kinh doanh vận tải</td>
              <td class="td-price">873,400</td>
            </tr>
            <tr>
              <td>Xe ô tô từ 12 đến 24 chỗ không kinh doanh vận tải</td>
              <td class="td-price">1,397,000</td>
            </tr>
            <tr>
              <td>Xe ô tô trên 24 chỗ không kinh doanh vận tải</td>
              <td class="td-price">2,007,500</td>
            </tr>
            <tr>
              <td>Xe vừa chở người vừa chở hàng (Pickup, minivan)</td>
              <td class="td-price">480,700</td>
            </tr>
            <tr>
              <td>Xe tải dưới 3 tấn</td>
              <td class="td-price">938,300</td>
            </tr>
            <tr>
              <td>Xe tải từ 3 tấn đến 8 tấn</td>
              <td class="td-price">1,826,000</td>
            </tr>
            <tr>
              <td>Xe tải trên 8 tấn đến 15 tấn</td>
              <td class="td-price">3,020,600</td>
            </tr>
            <tr>
              <td>Xe tải trên 15 tấn</td>
              <td class="td-price">3,520,000</td>
            </tr>
            <tr>
              <td>Xe đầu kéo</td>
              <td class="td-price">5,280,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>