<div class="login-page">
  <div class="form-login">
    <form [formGroup]="loginForm">
      <div class="image-login">
        <mat-icon svgIcon="iconLogin"></mat-icon>
      </div>
      <div class="title">
        Sign In
      </div>
      <div class="group-ip-user">
        <div class="username">
          <mat-icon class="icon-username" svgIcon="iconUserIp"></mat-icon>
          <input type="text" class="ip-username" placeholder="Username" formControlName="username">
        </div>
        <div class="password">
          <mat-icon class="icon-password" svgIcon="iconPasswordIp"></mat-icon>
          <input [type]="showPassword ? 'text' : 'password'" class="ip-password" placeholder="Password" autocomplete="new-password" formControlName="password">
          <mat-icon class="icon-hidden-password" [svgIcon]="showPassword ? 'iconHiddenPasswordIp' : 'iconShowPasswordIp'" (click)="togglePassWord()"></mat-icon>
        </div>
      </div>
      <div class="forgot-password">
        <p class="forgot-pwd">Forgot password?</p>
      </div>
      <button type="button" class="btn-login" (click)="submitForm()">Sign in</button>
      <!-- <div class="register">
        <p class="register-text">Don't have an account?</p>
      </div>
      <button type="button" class="btn-register">Sign up</button> -->
    </form>
  </div>
</div>
