<div class="container-footer">
  <div class="footer-homepage">
    <div class="group-footer">
      <div class="image-car">
        <img src="../../../../assets/images/logo.png" alt="">
      </div>
      <div class="title">
        Thế giới xe trong tầm tay
      </div>
    </div>
    <div class="group-footer">
      <h3>Về chúng tôi</h3>
      <div class="group-content">
        <p> - Giới thiệu</p>
        <p> - Liên hệ hợp tác</p>
      </div>
    </div>
    <div class="group-footer">
      <h3>Chính sách - Điều khoản</h3>
      <div class="group-content">
        <p> - Chính sách bảo mật</p>
        <p> - Chính sách biên tập</p>
        <p> - Điều khoản sử dụng</p>
      </div>
    </div>
    <div class="group-footer">
      <h3>Đăng ký nhận tin khuyến mãi</h3>
      <div class="create-mail">
        <input type="text" placeholder="email">
        <button>Đăng ký</button>
      </div>
    </div>
  </div>
  <div class="title-footer">
     <p>Nội dung trên website autodana.com chỉ nhằm cung cấp thông tin đến độc giả.</p>
     <p>autodana.com không bán xe trực tiếp. Quý khách vui lòng liên hệ trực tiếp nhân viên bán hàng theo
      thông tin để lại trên website hoặc điền thông tin vào form để nhân viên bán hàng liên hệ và tư vấn thêm.
     </p>
     <p>Website được vận hành bởi: HaoLe </p>
     <p>Coppy right @ 2024 danaauto.com </p>
  </div>
</div>
