$color-text: #9f9f9f;
$letter-spacing: 0.014em;

.forgot-pwd-page {
  margin: 150px auto;
  padding-top: 40px;
  width: 560px;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(53, 116, 177, 0.2);
  border-radius: 8px;
  text-align: center;
}

.title {
  margin-top: 16px;
}

.icon-back {
  float: left;
  height: 11px;
  width: 20px;
  cursor: pointer;
}

.form-forgot-pwd {
  width: 448px;
  margin: 0 auto;
}

.image-forgot-pwd .mat-icon {
  height: 48px;
  width: 48px;
}

.group-ip-password {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 40px;
}

.password {
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
}

.ip-password {
  padding: 10px 0;
  padding-left: 45px;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}

.password .icon-password {
  position: absolute;
  left: 16px;
  width: 13px;
  height: 21px;
}

.password .icon-hidden-password {
  position: absolute;
  right: 16px;
  width: 13px;
  height: 21px;
}

.forgot-pwd-page .ip-password::-webkit-input-placeholder {
  /* Edge */
  color: $color-text;
  font-size: 13px;
  letter-spacing: $letter-spacing;
}

.forgot-pwd-page .ip-password:-ms-input-placeholder {
  /* Internet Explorer */
  color: $color-text;
  font-size: 13px;
  letter-spacing: $letter-spacing;
}

.forgot-pwd-page .ip-password::placeholder {
  color: $color-text;
  font-size: 13px;
  letter-spacing: $letter-spacing;
}

.btn-forgot-pwd {
  padding: 10px 20px;
  color: white;
  width: 100%;
  background: #4392bb;
  border-radius: 3px;
  border: none;
  margin-top: 20px;
  margin-bottom: 55px;
}

button {
  cursor: pointer;
}

.forgot-pwd-page input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}