.user-container {
  width: 100%;
  display: flex;
  // padding-right: 12px;
  gap: 4px;

  app-datatable {
    min-width: 300px;
  }
  app-add-edit-user {
    width: 720px;
    min-width: 720px;
    max-width: 720px;
    transition: width 1s ease-in, height 1s ease-in;
  }
}
